# 1. VARIABLES ASSIGNMENT

In [3]:
# Define a variable named "portfolio_1" and assign a number (integer) to it
portfolio_1 = 5000

In [4]:
# Let's view "portfolio_1"
portfolio_1

5000

In [6]:
# Define a variable named "portfolio_2" and assign a number (float) to it
portfolio_2 = 2000.5

In [7]:
# Let's view "portfolio_2"
portfolio_2

2000.5

In [8]:
# Let's overwrite "portfolio_2" (assume your portfolio value increased)
portfolio_2 = 3000.5

In [9]:
# Notice that "portfolio_2" will only contain the most recent value
portfolio_2

3000.5

In [62]:
# Get the type of "portfolio_1" which is integer
# integer is a whole number (no decimals) that could be positive or negative
type(portfolio_1)

int

In [63]:
# Get the type of "portfolio_2" which is float
# Float are real numbers with a decimal point dividing the integer and fractional parts
type(portfolio_2)

float

**MINI CHALLENGE #1:**
- **We defined a variable AMZN (Ticker symbol for Amazon stock) and we assigned these 3 values listed below to it. Without executing any code cells, what will these lines of code generate?**
- **Verify your answer by executing the code cells** 



```
AMZN = 3324
AMZN = 3400
AMZN = 3530
AMZN
```

In [64]:
AMZN = 3324
AMZN = 3400
AMZN = 3530
AMZN

3530

**MINI CHALLENGE #2:**
- **We defined a variable AAPL (Ticker symbol for Apple stock) and we assigned these 2 values listed below to it. Without executing any code cells, what will these lines of code generate?**
- **Verify your answer by executing the code cells** 



```
AAPL = 112
AAPL = 115.3
type(AAPL)
```

In [65]:
# Float 

AAPL = 112
AAPL = 115.3
type(AAPL)
print(AAPL)

115.3

# 2. MATH OPERATIONS

In [10]:
# Define a variable named AAPL and initialize it with 5 indicating that we own 5 stocks
# Let's assume that we bought an additional stock so now we have 6 stocks instead of 5 
# We can increment AAPL by 1 stock as follows:
AAPL = 5
AAPL + 1

6

In [11]:
# Alternatively, we can increment the variable AAPL by 1 as follows:
AAPL += 1 
AAPL

6

In [12]:
# Let's assume that the price of AAPL stock is $260 and we currently have 5 AAPL stocks in our portfolio
# We can calculate the total portfolio value (account balance) as follows:
AAPL = 5 * 260 
AAPL

1300

In [13]:
# Let's assume you have $20000 USD in our account
# We want to buy AMZN stocks using the total amount 
# AMZN stock is priced at $3116 each
AAPL_count = 5
AAPL_price = 260
account_balance = AAPL_count * AAPL_price
account_balance

1300

In [70]:
# Divide the account balance by Amazon stock price and place the answer in units
account_balance = 20000
account_balance 

AMZN_price = 3116 
units = account_balance/AMZN_price
units

6.418485237483954

**MINI CHALLENGE #3:** 
- **Write a code that calculates the total value of a portfolio assuming that you own 15 Google stocks (Sticker Symbol: GOOG) priced at 1500 each**

In [71]:
GOOG = 15
GOOG_PRICE = 1500 
total = GOOG * GOOG_PRICE
total

22500

**MINI CHALLENGE #4:**
- **Write a code that takes in Google (GOOG) stock prices at two days and calculate the return:**
  - **GOOG price on day 1 = \$260** 
  - **GOOG price on day 2 = \$280**

In [14]:
GOOG_price_1 = 260
GOOG_price_2 = 280

price_diff = GOOG_price_2 - GOOG_price_1
percentage_change = price_diff / GOOG_price_1 * 100

percentage_change

7.6923076923076925

# 3. ORDER OF OPERATIONS (PRECEDENCE)

In [15]:
# add 3 and 4 and then multiply the answer by 5
# Note that parantheses have the highest precedence
#Multiplication have Higher precedence 

(3 + 4) * 5 
# With the precedence rule

35

The rule of precedence make us

In [16]:
# Multiplication has higher precedence compared to addition
1 + 2 * 3

7

In [18]:
# Division has higher precedence compared to addition

**MINI CHALLENGE #5:**
- **Assume that you own 15 shares of AAPL stock priced at \$150 a share. Apple announced the launch of 5 new products with exceptional features so the stock price increased to $170 a share. Calculate the total profit.**

In [19]:
AAPL_new = 170
AAPL_old = 150
num_shares = 15
profit = (AAPL_new - AAPL_old) * num_shares
profit

300

**MINI CHALLENGE #6:** 
- **Write a code that performs the following mathematical operation: z = |x âˆ’ y| * (x + y)**

In [20]:
x =4 
y = 2
z = abs(x - y) * (x + y)
z

12

# 4. PRINT OPERATION

In [78]:
# Print function is used to print elements on the screen
# Define a string x 
# A string in Python is a sequence of characters
# String in python are surrounded by single or double quotation marks

In [79]:
# Obtain the data type for 'x'

In [80]:
# Print x

In [81]:
# Define a string and put 'Apple Inc.' in it
cp = "Apple Inc."

In [82]:
# The format() method formats the specified value and insert it in the placeholder. 
# The placeholder is defined using curly braces: {}
print ("ticker name for {} is APPL".format(cp))

ticker name for Apple Inc. is APPL

In [83]:
shares = 50

In [84]:
# You can place two or more placeholders with print function
print("I own {} shares of {}".format(shares, cp))

I own 50 shares of Apple Inc.

**MINI CHALLENGE #7:**
- **Write a code that print out the above statement along with AAPL ticker**
- **i.e.: I own 30 shares of Apple Inc.(AAPL)**

In [50]:
ticker = 'AAPL'
print('I own {} ares of {} ({})'.format(shares, cp, ticker))

I own 50 ares of Apple Inc. (AAPL)

# 5. GET USER INPUT

In [21]:
# input is a built-in function in python
# Get bank client name as an input and print it out on the screen 
name = input("Welcome to the bank, What's your name?")

In [22]:
name = input("Welcome to the bank, please enter your name: ")
age = input("Enter your age: ")
networth = input("Enter your total networth (assets - liabilities): ")
print("My name is {}, I am {} years old, and my estimated networth is = {}".format(name, age, networth))

My name is Jhonatas, I am 26 years old, and my estimated networth is =

In [23]:
# Obtain bank client data such as name, age and assets and print them all out on the screen
x = input("Enter the price of AAPL stock today: ")
y = input("Enter the number of APPLE stocks that you want to buy: ")
print('The total funds required to buy {} shares of AAPL stock at {} dollars is {}'.format(y, x, x*y))

TypeError: can't multiply sequence by non-int of type 'str'

In [90]:
# Obtain user inputs, perform mathematical operation, and print the results 
# Note: Are you getting an error? Move to the next code cell 
x = input("Enter the price of AAPL stock today: ")
x = int(x)
y = input("Enter the number of APPLE stocks that you want to buy: ")
y = int(y)
print('The total funds required to buy {} shares of AAPL stock at {} dollars is {}'.format(y, x, x*y))

Enter the price of AAPL stock today: 3000
Enter the number of APPLE stocks that you want to buy: 20
The total funds required to buy 20 shares of AAPL stock at 3000 dollars is 60000

In [ ]:
# Convert from string datatype to integer datatype prior to performing addition
#ABOVE

**MINI CHALLENGE #8:** 
- **Write a code that takes in the name of the stock, price at which it is selling, the number of stocks that you want to own and prints out the total funds required to buy this stock. Find a sample expected output below:**

  - Enter the price of the stock you want to buy: 3000  
  - Enter the number of stocks that you want to buy: 5
  - Enter the name of the stock that you want to buy: AMZN
  - The total funds required to buy 5 number of AMZN stocks at 3000 is 15000

In [91]:
x = input("Enter the price of stock you want to buy : ")
x = int(x)
y = input("Enter the number of stocks that you want to buy: ")
y = int(y)
z = input('Enter the name of the stock you want to buy: ')
print('The total funds required to buy {} shares of {} stocks at {} is {}'.format(y, z, x, x*y))

Enter the price of stock you want to buy : 3000
Enter the number of stocks that you want to buy: 80
Enter the name of the stock you want to buy: AAPL
The total funds required to buy 80 shares of AAPL stocks at 3000 is 240000

In [1]:
# The output of this code is 3530
# Initially we put 3324 in AMZN, then we overwrite it by placing 3400 in AMZN, and then 3530 in AMZN
AMZN = 3324
AMZN = 3400
AMZN = 3530
AMZN

3530

In [2]:
AAPL = 112
AAPL = 115.3
type(AAPL)

float